

/* contact */

.row-one .contact .textbox {
    display:block;
    margin-bottom:10px;
    width:44%;
}
.row-one .contact .textbox,
.row-one .contact textarea {
    background:#8c4825;
    border:5px solid #743716;
    color:#deb5a0;
    padding:10px;
    font-size:16px;
    text-align:left;
       -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
            border-radius: 6px; 
}

.row-one .contact textarea {
    position:absolute;
    right:0;
    top:0;
    width:43%;
    overflow:auto;
    height:135px;
}

/****************  contact 2  ***********************/
.row-four .contact textarea {
    overflow:auto;
    position:absolute;
    right:0;
    top:0;
    width:42%;
    height:60px;
}

.row-four .contact button.awesome2 {
    margin:-40px 0 0 56%;
}
